<div>
    <section class="cart__total">
    <div>Итого к оплате: {{sum}} ₽</div>
    <form class="form" method="post">
        <input class="action" type="submit" value="Oплатить"/>
    </form>
    </section>
    <ul class="coffee__list">
        {{#each cartContents}}
            <li>
                <header class="coffee__name">{{name}}</header>
                <img src="{{image}}" alt="{{name}}">
                <a href="/bue/{{name}}" class="link action">
                {{price}} ₽</a>
            </li>
        {{/each}}
    </ul>
</div>